<% main(); %>
<!DOCTYPE html>

<html lang="en">
<head>

	<%- include ('head.ejs') %>

	<title>HFS - André</title>
	<link rel="stylesheet" href="/res/css/edit_style.css" type="text/css">
	<script src="/res/js/edit_script.js"></script>
</head>
<body onload="main();">


	<%- include ('header.ejs') %>
	<%
		if(_POST && _POST.text){
			FS.writeFileSync(resolvedPath, _POST.text);
		}
	%>
	<table id="path-toolbar" cellspacing="0" style="width: 100%;">
		<tbody>
			<tr>
				<td><a href="." class="button"><img src="/res/back.gif"/></a></td>
				<td style="width: 100%;">
					<h1 id="folder-path">
					<%
						var sp = fileFullPath.split('/');
						for(var i = 0; i < sp.length; i++){
							if(i == sp.length - 1){
								echo("<a href='" + sp.slice(0, i + 1).join("/") + "'>" + sp[i] + "</a>");
							} else {
								echo("<a href='" + sp.slice(0, i + 1).join("/") + "/'>" + sp[i] + "/</a>");
							}
							
						}
					%>
					</h1>
				</td>
				<td><a href="." class="button"><img src="/res/reload.gif"/></a></td>
			</tr>
		</tbody>
	</table>
	<h1>Edit <%-fileFullName%></h1>
	<hr/>
	<form enctype="multipart/form-data" action="?v=edit" method="POST">
		<div id="textarea-wrapper">
			<table cellspacing="0">
				<tr>
					<td id="line-numbers">
						<textarea wrap="off" rows="20" spellcheck="false">1</textarea>
					</td>
					<td id="text">
						<textarea wrap="off" rows="20" spellcheck="false" name="text"><%=FS.readFileSync(resolvedPath)%></textarea>
					</td>
				</tr>
			</table>
		</div>
		<input type="submit" value="Save"/>
	</form>
	<%- include ('footer.ejs') %>
</body>
</html>
<%
	function main(){
		fileFullPath = _FILE;

		var si       = _FILE.lastIndexOf("/");
		var di       = _FILE.lastIndexOf(".");
		
		resolvedPath = S.path_resolveVirtual(fileFullPath);
		filePath     = _FILE.substring(0, si + 1);
		fileFullName = _FILE.substring(si + 1);
		fileName     = _FILE.substring(si + 1, di);
		fileExt      = _FILE.substring(di + 1);
	}

	function echo(s){ %><%-s%><% }
%>