<% main(); %>
<!DOCTYPE html>
<html lang="en-us">
<head>
	<%- include('head.ejs'); %>
	<title>LMS</title>
	<link rel="stylesheet" href="/res/css/folder_style.css" type="text/css">
	<script>
		var folder = '<%- folder %>';
		function main(){}
		function openContextMenu(){}
	</script>
	<script src="/res/js/folder_script.js"></script>
</head>

<body onload="main();">
	<%- exportSelf() %>
	<%- include ('header.ejs') %>
	<table id="path-toolbar" cellspacing="0" style="width: 100%;">
		<tbody>
			<tr>
				<td><a href="../" class="button"><img src="/res/back.gif"/></a></td>
				<td style="width: 100%;">
					<h1 id="folder-path">
						<%
							var sp = folder.split('/');
							for(var i = 0; i < sp.length - 1; i++){
								echo("<a href='" + sp.slice(0, i + 1).join("/") + "/'>" + sp[i] + "/</a>");
							}
						%>
					</h1>
				</td>
				<td><a href="." class="button"><img src="/res/reload.gif"/></a></td>
			</tr>
		</tbody>
	</table>
	<br/>
	<p id="warning-message">You either disabled javascript or your browser is too old to support it properly. Some functionality on this page will only work on IE5+ with JS enabled.</p>
	<script>
		if(IE5_OR_NEWER){
			var wm = document.getElementById("warning-message");
			wm.parentNode.removeChild(wm);
		}
	</script>
	<div id="view-style">
		<label>
			<input type="radio" id="viewstyle-list" name="viewStyle" onclick="changeView('list');"></input>
			List view
		</label>
		<label>
			<input type="radio" id="viewstyle-icons" name="viewStyle" onclick="changeView('icons');"></input>
			Icons view
		</label>
		<label>
			<input type="radio" id="viewstyle-thumbnails" name="viewStyle" onclick="changeView('thumbnails');"></input>
			Thumbnails view
		</label>
	</div>
	<form enctype="multipart/form-data" method="post" style="display: inline; border: solid 1px gray; padding: 4px;">
		<input type="file" name="file" style="height: 2em;"/>
		<input type="submit" name="fileSubmitForm" value="Upload" style="height: 2em;"/>
	</form>
	<hr/>
	<div id="files">
		<%
			var view = 'list';
			switch(_COOKIES.viewStyle){
				case 'icons':      view = 'icons'; break;
				case 'thumbnails': view = 'thumbs'; break;
			}
			echo(include('folder_' + view, exportSelf()));
		%>
	</div>
	<div id="context-menu">
		<a id="cm-close" href="javascript:cm_close();">Close</a>
		<a id="cm-edit">Edit as Text</a>
		<a id="cm-watch">Watch</a>
		<a id="cm-delete" href="javascript:delete_();">Delete</a>
	</div>
	<%- include ('footer.ejs') %>
</body>
</html>
<%
	function main(){
		strIsVideo = function(f){
			return f.endsWith('.mp4') || f.endsWith('.webm') || f.endsWith('.mkv') || f.endsWith('.3gp');
		}
		strIsImage = function(f){
			return f.endsWith('.png') || f.endsWith('.jpg') || f.endsWith('.gif') || f.endsWith('.ico');
		}
	}

	function echo(s){ %><%-s%><% }
	
	function exportSelf(){
		var self = {};
		for(var p in this){
			if(this.hasOwnProperty(p)){
				self[p] = this[p];
			}
		}
	}
%>