<table>
	<td>
		<div id="sbs-view">
			<% genFileTableEntries(); %>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>
		</div>
	</td>
</table>
<%
function genFileTableEntries(){
	for (var i = 0; i < files.length; i++){
		var pathName = files[i];

		var color = (i % 2 == 1)?'color-1':'color-2';

		if(pathName.endsWith('/')){
			var folderName = pathName.slice(0, -1);
			var pathURIName = encodeURIComponent(folderName);
			genFileTableEntry(folderName, pathURIName + "/", '/res/file_icons/folder.gif', color);
		} else {	
			var iconName = '/res/file_icons/file.gif';
			var pathURIName = encodeURIComponent(pathName);
			if(strIsVideo(pathName)) {
				var iconName = pathURIName + "?v=thumb";
			} else if(strIsImage(pathName)) {
				var iconName = '/res/file_icons/picture.gif';
			}
			genFileTableEntry(pathName, pathURIName, iconName, color);
		}
	}
}

function genFileTableEntry(name, path, image, rowColor){
	%>
		<span class="file" data-path="<%-path%>">
			<span class="menu-wrapper">
				<button></button>
			</span>
			<a href="<%-path%>" class="file-img"><img src="<%-image%>"/></a>
			<a href="<%-path%>" class="file-name"><%-name%></a>
		</span>
	<%
}
%>