<% main(); %>
<!DOCTYPE html>
<html lang="en-us">
<head>
	<%- include ('head.ejs') %>
	<title>HFS - André</title>
	<link rel="stylesheet" href="/res/css/watch_style.css" type="text/css">
	<!--<script src="/res/js/template_polyfill.js"></script>-->	
	<script src="/res/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		function loadMainSubtitles(){
			<%
				var path = Path.join(System.config.GLOBAL.folder, videoPath.split('/').slice(2).join('/'), videoName + '.itt');
				if(FS.existsSync(path)){
					var lines = FS.readFileSync(path, 'utf8').split("\n");
					for(var i = 0; i < lines.length; i++){
						var itt = lines[i];
						if(itt.trim()){
							var split = itt.split(",");
							var id_ = split[0].trim();
							var lang_ = split[1].trim();
							var label_ = split[2].trim();
							var path_ = split[3].trim();
							var fpath;
							if(path_.startsWith('/')){
								fpath = Path.join('/files', path_).replace(/\\/g, '/');
							} else {
								fpath = Path.join(videoPath, path_).replace(/\\/g, '/');
							}
							console.log("P: " + path_);
							console.log("F: " + fpath);
							var str = "loadTextTrack(" + id_ + ", '" + fpath + "', '" + lang_ + "', '" + label_+ "');";
							%><%-str%><%
						}
					}
				}
			%>
		}
	</script>
	<script src="/res/js/watch_script.js"></script>
</head>
<body onload="main();">
	<a href="/files/">Home.</a>
	<h1>Watch <%-videoName %></h1>
	<hr/>
	<figure class="video-container">
		<div class="controls-overlay-wrapper">
			<div class="controls-overlay">
				<div class="tt-window-container">
					<div class="cue-window-config hide">
						<table style="pointer-events: all;" cellspacing="0">
							<tr>
								<td colspan="5"><span>&nbsp;Config&nbsp;</span><span class="title"/></td>
								<td colspan="1" style="text-align: right;">
									<button onclick="cwc_close();">X</button>
								</td>
							</tr>
							<tr class="number-setting">
								<td>X Position: </td>
								<td><button>&lt;</button></td>
								<td colspan="2">
									<input type="range" class="wx" min="-50" value="0" max="50">
								</td>
								<td><button>&gt;</button></td>
								<td class="val-wx">
									
								</td>
							</tr>
							<tr class="number-setting">
								<td>Y Position: </td>
								<td><button>&lt;</button></td>
								<td colspan="2">
									<input type="range" class="wy" min="-50" value="0" max="50">
								</td>
								<td><button>&gt;</button></td>
								<td class="val-wy">
									
								</td>
							</tr>
							<tr class="number-setting">
								<td>Width: </td>
								<td><button>&lt;</button></td>
								<td colspan="2">
									<input type="range" class="ww">
								</td>
								<td><button>&gt;</button></td>
								<td class="val-ww">
									
								</td>
							</tr>
							<tr class="number-setting">
								<td>Height: </td>
								<td><button>&lt;</button></td>
								<td colspan="2">
									<input type="range" class="wh">
								</td>
								<td><button>&gt;</button></td>
								<td class="val-wh">
									
								</td>
							</tr>
							<tr class="number-setting">
								<td>Font size: </td>
								<td><button>&lt;</button></td>
								<td colspan="2">
									<input type="range" class="font-size" min="4" max="96" step="0.5">
								</td>
								<td><button>&gt;</button></td>
								<td class="val-font-size">
									
								</td>
							</tr>
							<tr>
								<td>Delay: </td>
								<td><button>&lt;</button></td>
								<td colspan="2">
									<input type="text" class="timing-shift" style="width: 100%;"/>
								</td>
								<td colspan="2"><button>&gt;</button></td>
							</tr>
							<tr>
								<td colspan="6">
									<label>
										<input type="checkbox" class="flip-y-line" onclick="cwc_toggleYLineFlip(this);">
										<span>Flip Y line:</span>
									</label>
								</td>
							</tr>
							<tr>
								<td colspan="6" class="controls">
									<table>
										<td>
											<button onclick="cwc_reset();">Reset</button>
										</td>
										<td>
											<button onclick="cwc_apply();">Apply</button>
										</td>
										<td>
											<button onclick="cwc_ok();">Save</button>
										</td>
									</table>
								</td>
							</tr>
						</table>			
					</div>
					<template id="t_tt-window">
						<div class="tt-window">
							<div class="tt-window-internal"></div>
						</div>
					</template>
				</div>
				<table cellspacing="0">
					<tr class="controls-row">
						<td class="header"><h1><%-videoName %></h1></td>
					</tr>
					<tr style="height: 100%;"></tr>
					<tr>
						<td class="controls-row">
							<input type="range" class="progressbar" value="0" step="any"/>
						</td>
					</tr>

					<tr>
						<td class="controls-row">
							<table class="bottom-controls" cellspacing="0">
								<td>							
									<button class="button playbutton" onclick="Video.togglePlay();"><span></span></button>
								</td>
								<td>
									<button class="button mutebutton" onclick="Video.toggleMute();"><span></span></button>
								</td>
								<td>
									<input type="range" class="volumeslider" value="100" step="any">
								</td>
								<td style="width: 100%;"></td>
								<td>
									<span class="tt-contextmenu contextmenu-wrapper">
										<button class="button ttbutton" onclick="Video.TextTracks.openMenu();"><span></span></button>
										<div class="tt-main-menu contextmenu-content">
											<div class="contextmenu-title">
												<span>Text Tracks<span>
											</div>
											<hr/>
											<table class="tt-list" cellspacing="0">
												<template id="t_tt-list-item">
													<tr>
														<td class="contextmenu-item">
															<label class="noselect checkbox">
																<input type="checkbox" class="cc-enable-checkbox"/>
																<span class="cc-label"></span>
															</label>
														</td>
														<td class="contextmenu-item">
															<button class="morebutton">...</button>
														</td>	
													</tr>
												</template>
											</table>
											<hr/>
											<div class="contextmenu-item">
												<label class="checkbox">
													<input type="checkbox" class="tt-toggle" onclick="Video.TextTracks.setEnabled(this.checked);"/>
													<span>Subtitles<span>
												</label>
											</div>
											<div class="contextmenu-item">
												<label class="checkbox">
													<input type="checkbox" class="nativettdisplay-toggle" onclick="Video.TextTracks.setNativeTTDisplay(this.checked);"/>
													<span>Native display<span>
												</label>
											</div>
										</div>
									</span>
								</td>
								<td>
									<button class="button fullscreenbutton" onclick="Video.toggleFullscreen();"><span></span></button>	
								</td>
								<td>
									<button class="button pinbutton" onclick="Video.togglePinControls();"><span></span></button>	
								</td>
							</table>
						</td>
					</tr>
				</table>
			</div>	
		</div>
		<video width="1920" height="1080" preload="metadata" onplay="Video.onPlay();" onpause="Video.onPause();" controls>
			<source src="<%-_GET['p']%>" type="video/<%-videoExt%>">
			<template id="t_track">
				<track class="subtrack" kind="subtitles"/>
			</template>
			Video is not supported on this browser.
		</video>
	</figure>
	<%- include ('footer.ejs') %>
</body>
</html>
<%
function main(){
	var si = _GET['p'].lastIndexOf("/");
	var di = _GET['p'].lastIndexOf(".");
	videoPath = _GET['p'].substring(0, si + 1);
	videoName = _GET['p'].substring(si + 1, di);
	videoExt = _GET['p'].substring(di + 1);
}
%>