<% main(); %>
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('head.ejs') %>
	<title>LMS - Watch</title>
	<link rel="stylesheet" href="/res/css/watch_style.css" type="text/css">	
	<script src="/res/js/watch_text_track.js"></script>
	<script src="/res/js/watch_script.js"></script>
	<script type="text/javascript">
		function loadMainSubtitles(){
			var loadTextTrack = function(id, src, lang, label){
				Video.textTracks[id] = new Text_Track(id, src, lang, label);
			}

			<% genSubtitleLoadCalls(); %>
		}
	</script>
</head>
<body onload="main();">
	<%- include ('header.ejs') %>
	<h1>Watch <%-videoName %></h1>
	<figure class="video-container">
		<div class="controls-overlay-wrapper">
			<div class="controls-overlay">
				<div class="tt-window-container">
					<div class="cue-window-config hide">
						<table style="pointer-events: all;" cellspacing="0">
							<thead>
								<tr>
									<td colspan="5">
										<span>
											Config&nbsp;<span class="title"></span>
										</span>	
									</td>
									<td colspan="1" style="text-align: right;">
										<button onclick="Video.TextTrackEditor.windowClose();">X</button>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr class="number-setting">
									<td>X Position: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider wx" data-min="-50" data-max="50"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-wx">
										
									</td>
								</tr>
								<tr class="number-setting">
									<td>Y Position: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider wy" data-min="-50" data-max="50"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-wy">
										
									</td>
								</tr>
								<tr class="number-setting">
									<td>Width: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider ww" data-min="0" data-value="100" data-max="125"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-ww">
										
									</td>
								</tr>
								<tr class="number-setting">
									<td>Height: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider wh" data-min="0" data-value="100" data-max="125"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-wh">
										
									</td>
								</tr>
								<tr class="number-setting">
									<td>Line Y spread: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider ys" data-min="-200" data-value="0" data-max="200"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-ys">
										
									</td>
								</tr>
								<tr class="number-setting">
									<td>Line Y shift: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider ysh" data-min="-100" data-value="0" data-max="100"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-ysh">
										
									</td>
								</tr>
								<tr class="number-setting">
									<td>Font size: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<span class="Slider font-size" data-min="4" data-value="16" data-max="96"></span>
									</td>
									<td><button>&gt;</button></td>
									<td class="val-font-size"></td>
								</tr>
								<tr>
									<td>Delay: </td>
									<td><button>&lt;</button></td>
									<td colspan="2">
										<input type="text" class="timing-shift" style="width: 100%;"></input>
									</td>
									<td colspan="2"><button>&gt;</button></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="controls">
										<table>
											<tr>
												<td>
													<button onclick="cwc_reset();">Reset</button>
												</td>
												<td>
													<button onclick="Video.TextTrackEditor.windowApply();">Apply</button>
												</td>
												<td>
													<button onclick="Video.TextTrackEditor.windowSave();">Save</button>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tfoot>
						</table>			
					</div>
					<div id="t_tt-window" class="template tt-window">
						<div class="tt-window-internal"></div>
					</div>
				</div>
				<table cellspacing="0">
					<tr class="controls-row">
						<td class="header"><h1><%-videoName %></h1></td>
					</tr>
					<tr style="height: 100%;"></tr>
					<tr>
						<td style="position: relative; background: rgba(0, 0, 0, 0.05);" class="controls-row progress">
							<div>
								<span class="Slider slider" data-max="1"></span>
								<div class="hover">00:00</div>
							</div>
						</td>
					</tr>

					<tr>
						<td class="controls-row">
							<table class="bottom-controls" cellspacing="0">
								<tbody>
									<tr style="width: 100%; height: 100%;">
										<td>							
											<button class="button playbutton" onclick="Video.togglePlay();"><span></span></button>
										</td>
										<td>
											<button class="button mutebutton" onclick="Video.toggleMute();"><span></span></button>		
										</td>
										<td style="overflow: hidden;">
											<span style="height:8px;" class="Slider volumeslider" data-min="0" data-value="50" data-max="100"></span>
										</td>
										<td style="width: 100%; color: white;">
											<span class="time">00:00 / 00:00</span>
										</td>
										<td>
											<span class="tt-contextmenu contextmenu-wrapper">
												<button class="button ttbutton" onclick="Video.TextTracks.openMenu();"><span></span></button>
												<div class="tt-main-menu contextmenu-content">
													<div class="contextmenu-title">
														<span>Text Tracks</span>
													</div>
													<hr>
													<table class="tt-list" cellspacing="0">
														<tr class="template" id="t_tt-list-item">
															<td class="contextmenu-item">
																<label class="noselect checkbox">
																	<input type="checkbox" class="cc-enable-checkbox"></input>
																	<span class="cc-label"></span>
																</label>
															</td>
															<td class="contextmenu-item">
																<button class="morebutton">...</button>
															</td>	
														</tr>
													</table>
													<hr>
													<div class="contextmenu-item">
														<label class="checkbox" style="width: 100%;">
															<input type="checkbox" class="tt-toggle" onclick="Video.TextTracks.setEnabled(this.checked);"></input>
															<span>Subtitles</span>
														</label>
													</div>
													<div class="contextmenu-item">
														<label class="checkbox">
															<input type="checkbox" class="nativettdisplay-toggle" onclick="Video.TextTracks.setNativeTTDisplay(this.checked);"></input>
															<span>Native display</span>
														</label>
													</div>
												</div>
											</span>
										</td>
										<td>
											<button class="button fullscreenbutton" onclick="Video.toggleFullscreen();"><span></span></button>	
										</td>
										<td>
											<button class="button pinbutton" onclick="Video.togglePinControls();"><span></span></button>	
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</table>
			</div>	
		</div>
		<video width="1920" height="1080" preload="metadata" onplay="Video.onPlay();" onpause="Video.onPause();" controls>
			<source src="<%-_FILE%>" type="video/<%-videoExt%>">
			<track id="t_track" class="template subtrack" kind="subtitles"></track>
			Video is not supported on this browser.
		</video>
	</figure>
	<%- include ('footer.ejs') %>
</body>
</html>
<%
	function main(){
		var si    = _FILE.lastIndexOf("/");
		var di    = _FILE.lastIndexOf(".");
		videoPath = _FILE.substring(0, si + 1);
		videoName = _FILE.substring(si + 1, di);
		videoExt  = _FILE.substring(di + 1);
	}

	function genSubtitleLoadCalls(){
		var ittFilePath = Path.join(S.path_resolveVirtual(videoPath), videoName + '.itt');
		if(FS.existsSync(ittFilePath)){
			var lines = FS.readFileSync(ittFilePath, 'utf8').split("\n");
			for(var i = 0; i < lines.length; i++){
				var itt = lines[i];
				if(itt.trim()){
					var split = itt.split(",");
					var id_ = split[0].trim();
					var lang_ = split[1].trim();
					var label_ = split[2].trim();
					var path_ = split[3].trim();
					var fpath;
					if(path_.startsWith('/')){
						fpath = path_;
					} else {
						fpath = videoPath + path_;
					}
					fpath = S.path_normalize(fpath);
					echo("loadTextTrack(" + id_ + ", '" + fpath + "', '" + lang_ + "', '" + label_+ "');");
				}
			}
		}
	}

	function echo(s){ %><%-s%><% }
%>